@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Pacifico';
		src: url('/assets/fonts/Pacifico-Regular.ttf') format('truetype');
		unicode-range: U+0041-005A, U+0061-007A;
	}

	@font-face {
		font-family: 'Gugi';
		src: url('/assets/fonts/Gugi-Regular.ttf') format('truetype');
		/* unicode-range: U+AC00-D7A3; */
	}

	@font-face {
		font-family: 'Edu';
		src: url('/assets/fonts/EduNSWACTFoundation-Regular.ttf') format('truetype');
		unicode-range: U+0041-005A, U+0061-007A;
	}

	@font-face {
		font-family: 'Dongle';
		src: url('/assets/fonts/Dongle-Regular.ttf') format('truetype');
	}

	#smallHeader {
		font-family: 'Edu';
	}

	#logo {
		font-family: 'Pacifico';
	}

	.navLogo {
		font-size: 2.5rem !important;
	}

	#nav {
		font-family: 'Dongle';
	}

	#nav * {
		font-size: 1.4rem;
	}

	#layout {
		font-family: 'Dongle';
	}

	#layout * {
		@apply text-2xl;
	}

	#layout h1 {
		@apply text-6xl;
	}

	#layout h2 {
		@apply text-5xl;
	}

	#layout h3 {
		@apply text-4xl;
	}

	#layout h4 {
		@apply text-3xl;
	}

	#quill * {
		@apply text-base;
	}

	#quill h1 {
		@apply text-4xl;
	}

	#quill h2 {
		@apply text-3xl;
	}

	#quill h3 {
		@apply text-2xl;
	}
}
